<a href="https://colab.research.google.com/github/ecostadelle/ProjetoPesquisaTratamentoIncertezas/blob/main/src/ProjetoTratamentoIncertezas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

github = 'https://raw.githubusercontent.com/ecostadelle/ProjetoPesquisaTratamentoIncertezas/main/db/transforma.csv'

df = pd.read_csv(github, sep = ';',decimal=",")

In [2]:
estTemp = df[(df['ano']>2013) & (df['ano']<2019)  & (df['periodo']==1)].estudante.unique()
est2013 = df[(df['ano']==2013) & (df['periodo']==1)].estudante.unique()

# Estudantes concluidos sem nota de 3ยบ ano
estranhos = np.array(['538F795E', '1EDE1259', '435A861E', '6B70CA24'])

excessoes = np.concatenate((est2013,estranhos), axis=None)

Estudantes = []
for e in estTemp:
  if e not in excessoes:
    Estudantes.append(e)
len(Estudantes)

245

In [3]:
df.columns

Index(['ano', 'periodo', 'estudante', 'ira_nb1', 'ira_mr1', 'ira_nb3',
       'rec_s1', 'rec_s2', 'qtd_disciplinas', 'ap', 'ac', 'rt', 'rf',
       'resultado_final', 'situacao_atual', 'grupo'],
      dtype='object')

In [ ]:
df[df['estudante']=='6B81CDD5']

,ano,periodo,estudante,ira_nb1,ira_mr1,ira_nb3,rec_s1,rec_s2,qtd_disciplinas,ap,ac,rt,rf,resultado_final,situacao_atual,grupo
264,2014,1,6B81CDD5,50.73,54.47,52.47,10.0,10.0,15,9.0,0.0,6.0,0.0,Reprovado,Transferido Externo,-1.0
374,2015,1,6B81CDD5,49.44,54.00,56.90,12.0,4.0,16,14.0,2.0,0.0,0.0,Aprovado,Transferido Externo,0.0
489,2016,2,6B81CDD5,56.78,64.83,63.81,7.0,8.0,18,17.0,1.0,0.0,0.0,Aprovado,Transferido Externo,0.0
556,2017,3,6B81CDD5,62.82,62.53,59.75,6.0,10.0,17,14.0,0.0,3.0,0.0,Reprovado,Transferido Externo,-1.0

In [ ]:
df[df['grupo'].isna()]

,ano,periodo,estudante,ira_nb1,ira_mr1,ira_nb3,rec_s1,rec_s2,qtd_disciplinas,ap,ac,rt,rf,resultado_final,situacao_atual,grupo
116,2013,3,1B37A780,42.26,44.68,44.47,8.0,9.0,19,12.0,0.0,0.0,7.0,Aprovado,Evasรฃo,NaN
436,2016,4,299A5814,58.82,68.41,68.22,6.0,5.0,17,16.0,0.0,0.0,1.0,Aprovado,Concluรญdo,NaN

In [ ]:
matriz = [[1,0,2,0,3],[0,4,0,5,0],[6,0,7,0,8]]

In [ ]:
matriz[1][3]

5

1

In [ ]:
matriz_entrada = [0,0,0,0,0]
matriz_trasicao = [[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0],[0,0,0,0,0]]
for estudante in Estudantes:
  array = np.array(df[df['estudante']==estudante]['periodo'])
  for i in range(len(array)):
    if i == 0:
      posicao = int(np.array(df[df['estudante']==estudante]['grupo'])[i])+2
      matriz_entrada[posicao] = matriz_entrada[posicao] + 1
      posicao_anterior = posicao
    else:
      posicao = int(np.array(df[df['estudante']==estudante]['grupo'])[i])+2
      matriz_trasicao[posicao_anterior][posicao] = matriz_trasicao[posicao_anterior][posicao] + 1
      posicao_anterior = posicao
matriz_entrada,matriz_trasicao

([14, 65, 40, 114, 16],
 [[1, 2, 0, 0, 0],
  [3, 19, 15, 29, 0],
  [2, 16, 18, 24, 1],
  [1, 15, 33, 163, 12],
  [0, 1, 0, 12, 15]])

In [ ]:
entrada = [0,0,0,0,0]
transicao = [[
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0]
            ],
            [
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0]
            ],
            [
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0],
             [0,0,0,0,0,0,0]
            ]]
            

for estudante in Estudantes:
  array = np.array(df[df['estudante']==estudante]['periodo'])
  for i in range(len(array)):
    periodo = int(np.array(df[df['estudante']==estudante]['periodo'])[i])-1
    posicao = int(np.array(df[df['estudante']==estudante]['grupo'])[i])+2
    if i == 0:
      entrada[posicao] = entrada[posicao] + 1
    else:
      per_anterior = int(np.array(df[df['estudante']==estudante]['periodo'])[i-1])-1
      transicao[per_anterior][pos_anterior][posicao] = transicao[per_anterior][pos_anterior][posicao] + 1
    if i == len(array)-1:
      concluido = (np.array(df[df['estudante']==estudante]['situacao_atual'])[i] == 'Concluรญdo')
      terceiro_ano = (np.array(df[df['estudante']==estudante]['periodo'])[i] == 3)
      matriculado = (np.array(df[df['estudante']==estudante]['situacao_atual'])[i] == 'Matriculado')
      aprovado = (np.array(df[df['estudante']==estudante]['resultado_final'])[i] == 'Aprovado')
      situacao = (concluido or (terceiro_ano and matriculado and aprovado))
      if situacao:
        transicao[periodo][posicao][5] = transicao[periodo][posicao][5] + 1
      else:
        transicao[periodo][posicao][6] = transicao[periodo][posicao][6] + 1
        if (periodo == 2) & (posicao==1):
          print(estudante)
    pos_anterior = posicao
entrada,transicao

73CCBC0E
84266AEC
C74E981C
6B81CDD5
FE774FC1
145911B1
74E3031D
0D82B7E3
DE1CC7BA

([14, 65, 40, 111, 15],
 [[[0, 1, 0, 0, 0, 0, 15],
   [2, 18, 12, 21, 0, 0, 31],
   [0, 9, 11, 12, 0, 0, 20],
   [1, 13, 20, 83, 4, 0, 11],
   [0, 1, 0, 6, 8, 0, 0]],
  [[1, 0, 0, 0, 0, 0, 2],
   [1, 1, 3, 7, 0, 0, 12],
   [2, 7, 7, 12, 1, 0, 5],
   [0, 2, 12, 78, 8, 0, 8],
   [0, 0, 0, 6, 6, 0, 0]],
  [[0, 1, 0, 0, 0, 0, 1],
   [0, 0, 0, 1, 0, 0, 9],
   [0, 0, 0, 0, 0, 19, 0],
   [0, 0, 0, 0, 0, 97, 0],
   [0, 0, 0, 0, 0, 15, 0]]])

In [ ]:
periodo

3

In [ ]:
soma = np.array(entrada).sum()
for i in range(len(entrada)):
  entrada[i] = round(entrada[i]/soma, 3)
for i in range(len(transicao)):
  for j in range(len(transicao[i])):
    soma = np.array(transicao[i][j]).sum()
    if soma:
      for k in range(len(transicao[i][j])):
        transicao[i][j][k] = round(transicao[i][j][k]/soma, 3)
entrada,transicao

([0.057, 0.265, 0.163, 0.453, 0.061],
 [[[0.0, 0.062, 0.0, 0.0, 0.0, 0.0, 0.938],
   [0.024, 0.214, 0.143, 0.25, 0.0, 0.0, 0.369],
   [0.0, 0.173, 0.212, 0.231, 0.0, 0.0, 0.385],
   [0.008, 0.098, 0.152, 0.629, 0.03, 0.0, 0.083],
   [0.0, 0.067, 0.0, 0.4, 0.533, 0.0, 0.0]],
  [[0.333, 0.0, 0.0, 0.0, 0.0, 0.0, 0.667],
   [0.042, 0.042, 0.125, 0.292, 0.0, 0.0, 0.5],
   [0.059, 0.206, 0.206, 0.353, 0.029, 0.0, 0.147],
   [0.0, 0.019, 0.111, 0.722, 0.074, 0.0, 0.074],
   [0.0, 0.0, 0.0, 0.5, 0.5, 0.0, 0.0]],
  [[0.0, 0.5, 0.0, 0.0, 0.0, 0.0, 0.5],
   [0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.9],
   [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0],
   [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0],
   [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0]]])

In [ ]:
estudante,i,posicao,periodo

('81D4E651', 2, 3, 2)